.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg{
  background-color: rgb(10, 10, 54);
  color: beige;
  padding: 20px;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.align-nav{
  text-align: right;
  color: beige;
}
.ft-size{
  font-size: 25px;
}
.card{
  background-color: rgb(10, 10, 54);
  color: beige;
  border : 1px solid beige;
  padding: 10px;
}
.card-title{
  color:rgb(243, 243, 83);
}
.card-body{
  font-size: 25px;
  font-family: cursive;
}